<div>
  Pesquisar: <input #campoInput type="text" (keyup.enter)="search(campoInput.value)" />
  <button class="btn btn-primary" (click)="search(campoInput.value)"> Pesquisar </button>
  <button class="btn btn-primary" (click)="search('')" (click)="campoInput.value = ''"> Limpar </button>
</div>
<div *ngIf="searched && resultArray.length ==0">
  <br>
  <h3>Não foram encontrados produtos com esse nome.</h3>
</div>
<div *ngIf="searched && resultArray.length > 0">
  <h2>Resultados:</h2>
  <table class="table" style="width:100%">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Preço</th>
        <th scope="col">Comprar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let result of resultArray">
        <th scope="row">{{result.id}}</th>
        <td>{{result.name}}</td>
        <td>R$ {{roundToTwoDecimals(result.price)}}</td>
        <div class="center">
          <div class="input-group">
            <span class="input-group-btn">
              <button type="button" class="btn btn-default btn-number" (click)="campoQuant.value = campoQuant.value > 0 ? campoQuant.value-1 : 0">-</button>
            </span>
            <input #campoQuant type="number" class="form-control input-number"  value="1">
            <span class="input-group-btn">
              <button type="button" class="btn btn-default btn-number" (click)="campoQuant.value = campoQuant.value < 999 ? campoQuant.value-(-1) : 999">+</button>
            </span>
            <span>
              <button type ="button" class = "btn btn-default" (click)="adicionarAoCarrinho(result,campoQuant.value)">Comprar</button>
            </span>
          </div>
        </div>
      </tr>
    </tbody>
  </table>
</div>